{
    "presets": [["env", {}], "react"],
    "plugins": [
        "emotion",
        "lodash",
        "transform-decorators-legacy",
        "transform-class-properties",
        [
            "transform-object-rest-spread",
            {
                "useBuiltIns": true
            }
        ],
        ["babel-plugin-webpack-alias", { "config": "./webpack.config.js", "noOutputExtension": true }]
    ]
}
