{
    "extends": ["eslint:recommended", "plugin:react/recommended"],
    "plugins": ["react"],
    "parser": "babel-eslint",
    "settings": {
        "react": {
            "version": "^15"
        }
    },
    "parserOptions": {
        "ecmaVersion": 6,
        "sourceType": "module",
        "ecmaFeatures": {
            "jsx": true,
            "modules": true
        }
    },
    "rules": {
        "no-console": ["warn", { "allow": ["warn", "error"] }],
        "no-unused-vars": "warn"
    },
    "env": {
        "browser": true,
        "node": true,
        "es6": true
    },
    "overrides": [
        {
            "files": ["**/__demo__/*.jsx"],
            "rules": {
                "no-console": "off"
            }
        },
        {
            "files": ["**/*.test.js", "**/*.test.jsx", "tests/**/*"],
            "globals": {
                "test": true,
                "it": true,
                "expect": true,
                "jest": true,
                "describe": true
            }
        }
    ]
}
