{
    "*.{js,jsx}": [
        "prettier --write",
        "git add",
        "eslint",
        "jest --bail --findRelatedTests --collectCoverage"
    ],
    "*.{json,css,md}": ["prettier --write", "git add"]
}
