# Javascript Node CircleCI 2.0 configuration file
version: 2
jobs:
  build:
    docker:
      - image: circleci/node:8
    working_directory: ~/repo
    steps:
      - checkout
      # Download and cache dependencies
      - restore_cache:
          keys:
          - v1-dependencies-{{ checksum "package.json" }}
          # fallback to using the latest cache if no exact match is found
          - v1-dependencies-
      - run: yarn install
      - run: npm install -g codecov
      - save_cache:
          paths:
            - node_modules
          key: v1-dependencies-{{ checksum "package.json" }}
      # run tests!
      - run:
          name: test
          command: npm run test -- -w=2 && codecov
      - run:
          name: eslint
          command: npm run lint:es
      - run:
          name: stylelint
          command: npm run lint:style
      - run:
          name: build dist
          command: npm run build:dist
      - run:
          name: build lib
          command: npm run build:lib
      - run:
          name: build gh-pages
          command: npm run build:gh-pages


