@font-face {
    font-family: ucicon;
    src: url(../fonts/ucicon.eot?v=1552285261926);
    src: url(../fonts/ucicon.eot?v=1552285261926) format('embedded-opentype'),
        url(../fonts/ucicon.ttf?v=1552285261926) format('truetype'),
        url(../fonts/ucicon.woff?v=1552285261926) format('woff'), url(../fonts/ucicon.svg?v=1552285261926) format('svg');
    font-weight: 400;
    font-style: normal;
}
[class*=' icon__'],
[class^='icon__'] {
    font-family: ucicon !important;
    speak: none;
    font-style: normal;
    font-weight: 400;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    display: inline-block;
    text-decoration: inherit;
    text-align: center;
    letter-spacing: 0;
    -webkit-font-feature-settings: 'liga';
    -ms-font-feature-settings: 'liga' 1;
    -o-font-feature-settings: 'liga';
    font-feature-settings: 'liga';
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
[class*=' icon__']:before,
[class^='icon__']:before {
    display: inline-block;
}
.icon__OpenStack:before {
    content: '\E001';
}
.icon__Uhybrid01:before {
    content: '\E002';
}
.icon__ZJRQFH:before {
    content: '\E003';
}
.icon__ai:before {
    content: '\E004';
}
.icon__air-play:before {
    content: '\E005';
}
.icon__align-center:before {
    content: '\E006';
}
.icon__align-justify:before {
    content: '\E007';
}
.icon__align-left:before {
    content: '\E008';
}
.icon__align-right:before {
    content: '\E009';
}
.icon__alt:before {
    content: '\E00A';
}
.icon__anchor:before {
    content: '\E00B';
}
.icon__anti-fraud:before {
    content: '\E00C';
}
.icon__aofei:before {
    content: '\E00D';
}
.icon__apikey:before {
    content: '\E00E';
}
.icon__app-security:before {
    content: '\E00F';
}
.icon__approve:before {
    content: '\E010';
}
.icon__aqfh:before {
    content: '\E011';
}
.icon__archive:before {
    content: '\E012';
}
.icon__arrow-down:before {
    content: '\E013';
}
.icon__arrow-left:before {
    content: '\E014';
}
.icon__arrow-right:before {
    content: '\E015';
}
.icon__arrow-up:before {
    content: '\E016';
}
.icon__ask:before {
    content: '\E017';
}
.icon__avatar:before {
    content: '\E018';
}
.icon__backdoor:before {
    content: '\E019';
}
.icon__baiju:before {
    content: '\E01A';
}
.icon__ban-2:before {
    content: '\E01B';
}
.icon__ban:before {
    content: '\E01C';
}
.icon__bandwidth-web:before {
    content: '\E01D';
}
.icon__bar-graph-2:before {
    content: '\E01E';
}
.icon__bar-graph:before {
    content: '\E01F';
}
.icon__battery:before {
    content: '\E020';
}
.icon__bell-fill:before {
    content: '\E021';
}
.icon__bell:before {
    content: '\E022';
}
.icon__beta:before {
    content: '\E023';
}
.icon__beta2:before {
    content: '\E024';
}
.icon__bigdata:before {
    content: '\E025';
}
.icon__book:before {
    content: '\E026';
}
.icon__briefcase-2:before {
    content: '\E027';
}
.icon__briefcase:before {
    content: '\E028';
}
.icon__btw:before {
    content: '\E029';
}
.icon__buoy:before {
    content: '\E02A';
}
.icon__business:before {
    content: '\E02B';
}
.icon__caas:before {
    content: '\E02C';
}
.icon__calculator:before {
    content: '\E02D';
}
.icon__calendar:before {
    content: '\E02E';
}
.icon__camera:before {
    content: '\E02F';
}
.icon__card:before {
    content: '\E030';
}
.icon__caret-down:before {
    content: '\E031';
}
.icon__caret-left:before {
    content: '\E032';
}
.icon__caret-right:before {
    content: '\E033';
}
.icon__caret-up:before {
    content: '\E034';
}
.icon__cbox-01:before {
    content: '\E035';
}
.icon__cbox-ed:before {
    content: '\E036';
}
.icon__cbox:before {
    content: '\E037';
}
.icon__centos:before {
    content: '\E038';
}
.icon__check:before {
    content: '\E039';
}
.icon__checkbox-ed:before {
    content: '\E03A';
}
.icon__checkbox:before {
    content: '\E03B';
}
.icon__circle-add:before {
    content: '\E03C';
}
.icon__circle-check:before {
    content: '\E03D';
}
.icon__circle-check_hover:before {
    content: '\E03E';
}
.icon__circle-cross:before {
    content: '\E03F';
}
.icon__circle-fill-small:before {
    content: '\E040';
}
.icon__circle-fill:before {
    content: '\E041';
}
.icon__circle-i:before {
    content: '\E042';
}
.icon__circle-mark:before {
    content: '\E043';
}
.icon__circle-mark2:before {
    content: '\E044';
}
.icon__circle-minus:before {
    content: '\E045';
}
.icon__circle-play:before {
    content: '\E046';
}
.icon__circle-plus:before {
    content: '\E047';
}
.icon__circle-question-2:before {
    content: '\E048';
}
.icon__circle-question:before {
    content: '\E049';
}
.icon__circle-sm:before {
    content: '\E04A';
}
.icon__circle-yes:before {
    content: '\E04B';
}
.icon__circle:before {
    content: '\E04C';
}
.icon__clanguage:before {
    content: '\E04D';
}
.icon__clipboard:before {
    content: '\E04E';
}
.icon__clock:before {
    content: '\E04F';
}
.icon__closeeye:before {
    content: '\E050';
}
.icon__cloud-download:before {
    content: '\E051';
}
.icon__cloud-encrypt:before {
    content: '\E052';
}
.icon__cloud-paas:before {
    content: '\E053';
}
.icon__cloud-private:before {
    content: '\E054';
}
.icon__cloud-upload:before {
    content: '\E055';
}
.icon__cloud:before {
    content: '\E056';
}
.icon__cog:before {
    content: '\E057';
}
.icon__collect:before {
    content: '\E058';
}
.icon__collected:before {
    content: '\E059';
}
.icon__columns:before {
    content: '\E05A';
}
.icon__command:before {
    content: '\E05B';
}
.icon__company:before {
    content: '\E05C';
}
.icon__content-left:before {
    content: '\E05D';
}
.icon__content-right:before {
    content: '\E05E';
}
.icon__contract:before {
    content: '\E05F';
}
.icon__contract1:before {
    content: '\E060';
}
.icon__contract2:before {
    content: '\E061';
}
.icon__copy:before {
    content: '\E062';
}
.icon__crack:before {
    content: '\E063';
}
.icon__cross:before {
    content: '\E064';
}
.icon__dashboard:before {
    content: '\E065';
}
.icon__dashboard2:before {
    content: '\E066';
}
.icon__dashboard3:before {
    content: '\E067';
}
.icon__dashbord-meum:before {
    content: '\E068';
}
.icon__data-analyse:before {
    content: '\E069';
}
.icon__data-ark:before {
    content: '\E06A';
}
.icon__data-center-web:before {
    content: '\E06B';
}
.icon__data-warehouse:before {
    content: '\E06C';
}
.icon__debian:before {
    content: '\E06D';
}
.icon__delete:before {
    content: '\E06E';
}
.icon__dianpuhezi1:before {
    content: '\E06F';
}
.icon__dianpuhezi10:before {
    content: '\E070';
}
.icon__dianpuhezi11:before {
    content: '\E071';
}
.icon__dianpuhezi12:before {
    content: '\E072';
}
.icon__dianpuhezi13:before {
    content: '\E073';
}
.icon__dianpuhezi14:before {
    content: '\E074';
}
.icon__dianpuhezi15:before {
    content: '\E075';
}
.icon__dianpuhezi16:before {
    content: '\E076';
}
.icon__dianpuhezi17:before {
    content: '\E077';
}
.icon__dianpuhezi2:before {
    content: '\E078';
}
.icon__dianpuhezi3:before {
    content: '\E079';
}
.icon__dianpuhezi4:before {
    content: '\E07A';
}
.icon__dianpuhezi5:before {
    content: '\E07B';
}
.icon__dianpuhezi6:before {
    content: '\E07C';
}
.icon__dianpuhezi7:before {
    content: '\E07D';
}
.icon__dianpuhezi8:before {
    content: '\E07E';
}
.icon__dianpuhezi9:before {
    content: '\E07F';
}
.icon__dianpuhezi_close:before {
    content: '\E080';
}
.icon__disc:before {
    content: '\E081';
}
.icon__door:before {
    content: '\E082';
}
.icon__double-left:before {
    content: '\E083';
}
.icon__double-right:before {
    content: '\E084';
}
.icon__down:before {
    content: '\E085';
}
.icon__down22:before {
    content: '\E086';
}
.icon__download:before {
    content: '\E087';
}
.icon__drgs:before {
    content: '\E088';
}
.icon__drop:before {
    content: '\E089';
}
.icon__edit:before {
    content: '\E08A';
}
.icon__edu:before {
    content: '\E08B';
}
.icon__eip:before {
    content: '\E08C';
}
.icon__ellipsis-verticle:before {
    content: '\E08D';
}
.icon__ellipsis:before {
    content: '\E08E';
}
.icon__esc:before {
    content: '\E08F';
}
.icon__expand:before {
    content: '\E090';
}
.icon__eye:before {
    content: '\E091';
}
.icon__faq:before {
    content: '\E092';
}
.icon__fast:before {
    content: '\E093';
}
.icon__feedback:before {
    content: '\E094';
}
.icon__fenxi:before {
    content: '\E095';
}
.icon__file-add:before {
    content: '\E096';
}
.icon__file-subtract:before {
    content: '\E097';
}
.icon__file:before {
    content: '\E098';
}
.icon__filter:before {
    content: '\E099';
}
.icon__finance:before {
    content: '\E09A';
}
.icon__flag:before {
    content: '\E09B';
}
.icon__flexible:before {
    content: '\E09C';
}
.icon__folder:before {
    content: '\E09D';
}
.icon__fuhao:before {
    content: '\E09E';
}
.icon__fushikang1:before {
    content: '\E09F';
}
.icon__fushikang10:before {
    content: '\E0A0';
}
.icon__fushikang11:before {
    content: '\E0A1';
}
.icon__fushikang12:before {
    content: '\E0A2';
}
.icon__fushikang13:before {
    content: '\E0A3';
}
.icon__fushikang14:before {
    content: '\E0A4';
}
.icon__fushikang15:before {
    content: '\E0A5';
}
.icon__fushikang16:before {
    content: '\E0A6';
}
.icon__fushikang17:before {
    content: '\E0A7';
}
.icon__fushikang18:before {
    content: '\E0A8';
}
.icon__fushikang19:before {
    content: '\E0A9';
}
.icon__fushikang2:before {
    content: '\E0AA';
}
.icon__fushikang20:before {
    content: '\E0AB';
}
.icon__fushikang21:before {
    content: '\E0AC';
}
.icon__fushikang22:before {
    content: '\E0AD';
}
.icon__fushikang23:before {
    content: '\E0AE';
}
.icon__fushikang24:before {
    content: '\E0AF';
}
.icon__fushikang25:before {
    content: '\E0B0';
}
.icon__fushikang26:before {
    content: '\E0B1';
}
.icon__fushikang27:before {
    content: '\E0B2';
}
.icon__fushikang28:before {
    content: '\E0B3';
}
.icon__fushikang29:before {
    content: '\E0B4';
}
.icon__fushikang3:before {
    content: '\E0B5';
}
.icon__fushikang30:before {
    content: '\E0B6';
}
.icon__fushikang31:before {
    content: '\E0B7';
}
.icon__fushikang32:before {
    content: '\E0B8';
}
.icon__fushikang33:before {
    content: '\E0B9';
}
.icon__fushikang34:before {
    content: '\E0BA';
}
.icon__fushikang35:before {
    content: '\E0BB';
}
.icon__fushikang36:before {
    content: '\E0BC';
}
.icon__fushikang37:before {
    content: '\E0BD';
}
.icon__fushikang38:before {
    content: '\E0BE';
}
.icon__fushikang39:before {
    content: '\E0BF';
}
.icon__fushikang4:before {
    content: '\E0C0';
}
.icon__fushikang40:before {
    content: '\E0C1';
}
.icon__fushikang41:before {
    content: '\E0C2';
}
.icon__fushikang42:before {
    content: '\E0C3';
}
.icon__fushikang43:before {
    content: '\E0C4';
}
.icon__fushikang44:before {
    content: '\E0C5';
}
.icon__fushikang45:before {
    content: '\E0C6';
}
.icon__fushikang46:before {
    content: '\E0C7';
}
.icon__fushikang47:before {
    content: '\E0C8';
}
.icon__fushikang48:before {
    content: '\E0C9';
}
.icon__fushikang49:before {
    content: '\E0CA';
}
.icon__fushikang5:before {
    content: '\E0CB';
}
.icon__fushikang50:before {
    content: '\E0CC';
}
.icon__fushikang51:before {
    content: '\E0CD';
}
.icon__fushikang52:before {
    content: '\E0CE';
}
.icon__fushikang6:before {
    content: '\E0CF';
}
.icon__fushikang7:before {
    content: '\E0D0';
}
.icon__fushikang8:before {
    content: '\E0D1';
}
.icon__fushikang9:before {
    content: '\E0D2';
}
.icon__game:before {
    content: '\E0D3';
}
.icon__gentoo:before {
    content: '\E0D4';
}
.icon__gpu:before {
    content: '\E0D5';
}
.icon__green-line-web:before {
    content: '\E0D6';
}
.icon__grid:before {
    content: '\E0D7';
}
.icon__head-2:before {
    content: '\E0D8';
}
.icon__head-3:before {
    content: '\E0D9';
}
.icon__head:before {
    content: '\E0DA';
}
.icon__headset:before {
    content: '\E0DB';
}
.icon__heart:before {
    content: '\E0DC';
}
.icon__helpbook:before {
    content: '\E0DD';
}
.icon__home:before {
    content: '\E0DE';
}
.icon__hot-update:before {
    content: '\E0DF';
}
.icon__hot:before {
    content: '\E0E0';
}
.icon__huanjing:before {
    content: '\E0E1';
}
.icon__huojian:before {
    content: '\E0E2';
}
.icon__icon1:before {
    content: '\E0E3';
}
.icon__icon2:before {
    content: '\E0E4';
}
.icon__icon3:before {
    content: '\E0E5';
}
.icon__id:before {
    content: '\E0E6';
}
.icon__image:before {
    content: '\E0E7';
}
.icon__inbox:before {
    content: '\E0E8';
}
.icon__industry:before {
    content: '\E0E9';
}
.icon__inspur_l:before {
    content: '\E0EA';
}
.icon__ios:before {
    content: '\E0EB';
}
.icon__ipsecvpn:before {
    content: '\E0EC';
}
.icon__jiaohuanji:before {
    content: '\E0ED';
}
.icon__jiekou:before {
    content: '\E0EE';
}
.icon__jingxiang:before {
    content: '\E0EF';
}
.icon__jixie1:before {
    content: '\E0F0';
}
.icon__js:before {
    content: '\E0F1';
}
.icon__kaiyang:before {
    content: '\E0F2';
}
.icon__king:before {
    content: '\E0F3';
}
.icon__kouzhan:before {
    content: '\E0F4';
}
.icon__language:before {
    content: '\E0F5';
}
.icon__layers:before {
    content: '\E0F6';
}
.icon__layout:before {
    content: '\E0F7';
}
.icon__left:before {
    content: '\E0F8';
}
.icon__lightning_m:before {
    content: '\E0F9';
}
.icon__line:before {
    content: '\E0FA';
}
.icon__link:before {
    content: '\E0FB';
}
.icon__list:before {
    content: '\E0FC';
}
.icon__load:before {
    content: '\E0FD';
}
.icon__loading:before {
    content: '\E0FE';
}
.icon__location-2:before {
    content: '\E0FF';
}
.icon__location-3:before {
    content: '\E100';
}
.icon__location:before {
    content: '\E101';
}
.icon__lock:before {
    content: '\E102';
}
.icon__locklock:before {
    content: '\E103';
}
.icon__locklock2:before {
    content: '\E104';
}
.icon__logo-f:before {
    content: '\E105';
}
.icon__logo-fsk:before {
    content: '\E106';
}
.icon__logo-lc:before {
    content: '\E107';
}
.icon__logo-travelcloud-shorten:before {
    content: '\E108';
}
.icon__logo-travelcloud:before {
    content: '\E109';
}
.icon__logo-ucloud:before {
    content: '\E10A';
}
.icon__logo:before {
    content: '\E10B';
}
.icon__ma:before {
    content: '\E10C';
}
.icon__mail:before {
    content: '\E10D';
}
.icon__mail1:before {
    content: '\E10E';
}
.icon__mailmail:before {
    content: '\E10F';
}
.icon__mailmail22:before {
    content: '\E110';
}
.icon__managed-cluster:before {
    content: '\E111';
}
.icon__map:before {
    content: '\E112';
}
.icon__marquee-add:before {
    content: '\E113';
}
.icon__marquee-subtract:before {
    content: '\E114';
}
.icon__marquee:before {
    content: '\E115';
}
.icon__maximize:before {
    content: '\E116';
}
.icon__memory:before {
    content: '\E117';
}
.icon__menu:before {
    content: '\E118';
}
.icon__message:before {
    content: '\E119';
}
.icon__microphone:before {
    content: '\E11A';
}
.icon__minghe:before {
    content: '\E11B';
}
.icon__minimize:before {
    content: '\E11C';
}
.icon__minus:before {
    content: '\E11D';
}
.icon__mobile-2:before {
    content: '\E11E';
}
.icon__mobile:before {
    content: '\E11F';
}
.icon__mobile1:before {
    content: '\E120';
}
.icon__mobilemobile:before {
    content: '\E121';
}
.icon__mobilemobile2:before {
    content: '\E122';
}
.icon__moon:before {
    content: '\E123';
}
.icon__more-three:before {
    content: '\E124';
}
.icon__more:before {
    content: '\E125';
}
.icon__move:before {
    content: '\E126';
}
.icon__mq:before {
    content: '\E127';
}
.icon__mute:before {
    content: '\E128';
}
.icon__n-jiaobiao:before {
    content: '\E129';
}
.icon__net:before {
    content: '\E12A';
}
.icon__netnet:before {
    content: '\E12B';
}
.icon__netnet2:before {
    content: '\E12C';
}
.icon__new:before {
    content: '\E12D';
}
.icon__node-web:before {
    content: '\E12E';
}
.icon__open:before {
    content: '\E12F';
}
.icon__outbox:before {
    content: '\E130';
}
.icon__paper-clip:before {
    content: '\E131';
}
.icon__paper-stack:before {
    content: '\E132';
}
.icon__paper:before {
    content: '\E133';
}
.icon__paragraph:before {
    content: '\E134';
}
.icon__password:before {
    content: '\E135';
}
.icon__pause:before {
    content: '\E136';
}
.icon__pdico:before {
    content: '\E137';
}
.icon__personal:before {
    content: '\E138';
}
.icon__pie-graph:before {
    content: '\E139';
}
.icon__platform:before {
    content: '\E13A';
}
.icon__play:before {
    content: '\E13B';
}
.icon__plus:before {
    content: '\E13C';
}
.icon__power:before {
    content: '\E13D';
}
.icon__printer:before {
    content: '\E13E';
}
.icon__project:before {
    content: '\E13F';
}
.icon__proline:before {
    content: '\E140';
}
.icon__prophet:before {
    content: '\E141';
}
.icon__qiming:before {
    content: '\E142';
}
.icon__qq-fill:before {
    content: '\E143';
}
.icon__qq:before {
    content: '\E144';
}
.icon__qr-code:before {
    content: '\E145';
}
.icon__questionmark:before {
    content: '\E146';
}
.icon__qyw:before {
    content: '\E147';
}
.icon__realmode:before {
    content: '\E148';
}
.icon__recommend:before {
    content: '\E149';
}
.icon__recycle:before {
    content: '\E14A';
}
.icon__redhat:before {
    content: '\E14B';
}
.icon__refresh:before {
    content: '\E14C';
}
.icon__reload:before {
    content: '\E14D';
}
.icon__remotelogin:before {
    content: '\E14E';
}
.icon__repeat:before {
    content: '\E14F';
}
.icon__repeat_m:before {
    content: '\E150';
}
.icon__reply:before {
    content: '\E151';
}
.icon__ribbon-fill:before {
    content: '\E152';
}
.icon__ribbon:before {
    content: '\E153';
}
.icon__rich:before {
    content: '\E154';
}
.icon__right-angle:before {
    content: '\E155';
}
.icon__right:before {
    content: '\E156';
}
.icon__rlsm:before {
    content: '\E157';
}
.icon__rmb-02:before {
    content: '\E158';
}
.icon__rmb:before {
    content: '\E159';
}
.icon__roma:before {
    content: '\E15A';
}
.icon__safe2:before {
    content: '\E15B';
}
.icon__safehouse:before {
    content: '\E15C';
}
.icon__safehouse2:before {
    content: '\E15D';
}
.icon__sc_1:before {
    content: '\E15E';
}
.icon__sc_2:before {
    content: '\E15F';
}
.icon__sdnbox:before {
    content: '\E160';
}
.icon__search:before {
    content: '\E161';
}
.icon__settings:before {
    content: '\E162';
}
.icon__share:before {
    content: '\E163';
}
.icon__sharebandwidth:before {
    content: '\E164';
}
.icon__shockwave:before {
    content: '\E165';
}
.icon__shopping:before {
    content: '\E166';
}
.icon__shuffle:before {
    content: '\E167';
}
.icon__signal:before {
    content: '\E168';
}
.icon__sles:before {
    content: '\E169';
}
.icon__smallu:before {
    content: '\E16A';
}
.icon__sort:before {
    content: '\E16B';
}
.icon__speech-bubble:before {
    content: '\E16C';
}
.icon__spotspot1:before {
    content: '\E16D';
}
.icon__spotspot2:before {
    content: '\E16E';
}
.icon__spotspot3:before {
    content: '\E16F';
}
.icon__square-add:before {
    content: '\E170';
}
.icon__square-check:before {
    content: '\E171';
}
.icon__square-cross:before {
    content: '\E172';
}
.icon__square-minus:before {
    content: '\E173';
}
.icon__square:before {
    content: '\E174';
}
.icon__ssh-tag:before {
    content: '\E175';
}
.icon__ssh-tag1:before {
    content: '\E176';
}
.icon__stack-2:before {
    content: '\E177';
}
.icon__stack:before {
    content: '\E178';
}
.icon__star:before {
    content: '\E179';
}
.icon__stars:before {
    content: '\E17A';
}
.icon__step:before {
    content: '\E17B';
}
.icon__store:before {
    content: '\E17C';
}
.icon__sun:before {
    content: '\E17D';
}
.icon__survey:before {
    content: '\E17E';
}
.icon__sxt:before {
    content: '\E17F';
}
.icon__tag:before {
    content: '\E180';
}
.icon__telephone:before {
    content: '\E181';
}
.icon__thermometer:before {
    content: '\E182';
}
.icon__tiangang:before {
    content: '\E183';
}
.icon__ticket:before {
    content: '\E184';
}
.icon__tidb:before {
    content: '\E185';
}
.icon__time:before {
    content: '\E186';
}
.icon__toggle:before {
    content: '\E187';
}
.icon__trash:before {
    content: '\E188';
}
.icon__triangle-i:before {
    content: '\E189';
}
.icon__triangle-question:before {
    content: '\E18A';
}
.icon__tydd:before {
    content: '\E18B';
}
.icon__uads:before {
    content: '\E18C';
}
.icon__uai:before {
    content: '\E18D';
}
.icon__uaiservice:before {
    content: '\E18E';
}
.icon__uaitrain:before {
    content: '\E18F';
}
.icon__uapi:before {
    content: '\E190';
}
.icon__uapigateway:before {
    content: '\E191';
}
.icon__uarchive:before {
    content: '\E192';
}
.icon__uas:before {
    content: '\E193';
}
.icon__ubsec:before {
    content: '\E194';
}
.icon__ucabinet:before {
    content: '\E195';
}
.icon__ucamon:before {
    content: '\E196';
}
.icon__ucdn:before {
    content: '\E197';
}
.icon__ucf:before {
    content: '\E198';
}
.icon__udas:before {
    content: '\E199';
}
.icon__udataark:before {
    content: '\E19A';
}
.icon__udb:before {
    content: '\E19B';
}
.icon__udb4mongodb:before {
    content: '\E19C';
}
.icon__udb4pgsql:before {
    content: '\E19D';
}
.icon__udb4sqlserver:before {
    content: '\E19E';
}
.icon__udbc:before {
    content: '\E19F';
}
.icon__uddb:before {
    content: '\E1A0';
}
.icon__uddp:before {
    content: '\E1A1';
}
.icon__udee:before {
    content: '\E1A2';
}
.icon__udhost:before {
    content: '\E1A3';
}
.icon__udisk:before {
    content: '\E1A4';
}
.icon__udnr:before {
    content: '\E1A5';
}
.icon__udns:before {
    content: '\E1A6';
}
.icon__udocker:before {
    content: '\E1A7';
}
.icon__udpn:before {
    content: '\E1A8';
}
.icon__udts:before {
    content: '\E1A9';
}
.icon__udw:before {
    content: '\E1AA';
}
.icon__uemr:before {
    content: '\E1AB';
}
.icon__uencrypt:before {
    content: '\E1AC';
}
.icon__ues:before {
    content: '\E1AD';
}
.icon__uewaf:before {
    content: '\E1AE';
}
.icon__ufile:before {
    content: '\E1AF';
}
.icon__ufs:before {
    content: '\E1B0';
}
.icon__ugaa:before {
    content: '\E1B1';
}
.icon__ugc:before {
    content: '\E1B2';
}
.icon__ugroup:before {
    content: '\E1B3';
}
.icon__uhadoop:before {
    content: '\E1B4';
}
.icon__uhas:before {
    content: '\E1B5';
}
.icon__uhas_2:before {
    content: '\E1B6';
}
.icon__uhids:before {
    content: '\E1B7';
}
.icon__uhost:before {
    content: '\E1B8';
}
.icon__uhub:before {
    content: '\E1B9';
}
.icon__uhybrid:before {
    content: '\E1BA';
}
.icon__uiot:before {
    content: '\E1BB';
}
.icon__uips:before {
    content: '\E1BC';
}
.icon__uk8s:before {
    content: '\E1BD';
}
.icon__ukafka:before {
    content: '\E1BE';
}
.icon__ukms:before {
    content: '\E1BF';
}
.icon__ukv:before {
    content: '\E1C0';
}
.icon__ulan:before {
    content: '\E1C1';
}
.icon__ulb:before {
    content: '\E1C2';
}
.icon__ulink:before {
    content: '\E1C3';
}
.icon__ulive:before {
    content: '\E1C4';
}
.icon__ulog:before {
    content: '\E1C5';
}
.icon__umaa:before {
    content: '\E1C6';
}
.icon__umai:before {
    content: '\E1C7';
}
.icon__umarket:before {
    content: '\E1C8';
}
.icon__umbrella:before {
    content: '\E1C9';
}
.icon__umedia:before {
    content: '\E1CA';
}
.icon__umem:before {
    content: '\E1CB';
}
.icon__umon:before {
    content: '\E1CC';
}
.icon__umq:before {
    content: '\E1CD';
}
.icon__unet:before {
    content: '\E1CE';
}
.icon__uni:before {
    content: '\E1CF';
}
.icon__unline:before {
    content: '\E1D0';
}
.icon__unlock:before {
    content: '\E1D1';
}
.icon__untu:before {
    content: '\E1D2';
}
.icon__uodn:before {
    content: '\E1D3';
}
.icon__uodn2:before {
    content: '\E1D4';
}
.icon__uoperaudit:before {
    content: '\E1D5';
}
.icon__up:before {
    content: '\E1D6';
}
.icon__update:before {
    content: '\E1D7';
}
.icon__uphost:before {
    content: '\E1D8';
}
.icon__upload:before {
    content: '\E1D9';
}
.icon__urecord:before {
    content: '\E1DA';
}
.icon__urms:before {
    content: '\E1DB';
}
.icon__usa:before {
    content: '\E1DC';
}
.icon__usable-area:before {
    content: '\E1DD';
}
.icon__usafe:before {
    content: '\E1DE';
}
.icon__uscheduler:before {
    content: '\E1DF';
}
.icon__usec:before {
    content: '\E1E0';
}
.icon__user:before {
    content: '\E1E1';
}
.icon__userver:before {
    content: '\E1E2';
}
.icon__uservice:before {
    content: '\E1E3';
}
.icon__uslpe:before {
    content: '\E1E4';
}
.icon__usql:before {
    content: '\E1E5';
}
.icon__ussl:before {
    content: '\E1E6';
}
.icon__utsdb:before {
    content: '\E1E7';
}
.icon__uvideo:before {
    content: '\E1E8';
}
.icon__uvpc:before {
    content: '\E1E9';
}
.icon__uwaf:before {
    content: '\E1EA';
}
.icon__uwan:before {
    content: '\E1EB';
}
.icon__uws:before {
    content: '\E1EC';
}
.icon__verticle-left:before {
    content: '\E1ED';
}
.icon__verticle-right:before {
    content: '\E1EE';
}
.icon__video:before {
    content: '\E1EF';
}
.icon__vitality:before {
    content: '\E1F0';
}
.icon__volume:before {
    content: '\E1F1';
}
.icon__vpc:before {
    content: '\E1F2';
}
.icon__watch:before {
    content: '\E1F3';
}
.icon__wechat:before {
    content: '\E1F4';
}
.icon__weibo:before {
    content: '\E1F5';
}
.icon__weixing:before {
    content: '\E1F6';
}
.icon__wenqu:before {
    content: '\E1F7';
}
.icon__windows:before {
    content: '\E1F8';
}
.icon__wuqu:before {
    content: '\E1F9';
}
.icon__www:before {
    content: '\E1FA';
}
.icon__xuanwu:before {
    content: '\E1FB';
}
.icon__yaoguang:before {
    content: '\E1FC';
}
.icon__ydy0:before {
    content: '\E1FD';
}
.icon__ydy1:before {
    content: '\E1FE';
}
.icon__yizhanpz:before {
    content: '\E1FF';
}
.icon__yuangonggl:before {
    content: '\E200';
}
.icon__yuheng:before {
    content: '\E201';
}
.icon__yzs_logo2:before {
    content: '\E202';
}
.icon__yzs_logo5:before {
    content: '\E203';
}
.icon__ziwei:before {
    content: '\E204';
}
.icon__zjrz:before {
    content: '\E205';
}
.icon__zongduan:before {
    content: '\E206';
}
.icon__zoom-in:before {
    content: '\E207';
}
