a,
abbr,
acronym,
address,
applet,
article,
aside,
audio,
b,
big,
blockquote,
body,
canvas,
caption,
center,
cite,
code,
dd,
del,
details,
dfn,
div,
dl,
dt,
em,
embed,
fieldset,
figcaption,
figure,
footer,
form,
h1,
h2,
h3,
h4,
h5,
h6,
header,
hgroup,
html,
i,
iframe,
img,
ins,
kbd,
label,
legend,
li,
mark,
menu,
nav,
object,
ol,
output,
p,
pre,
q,
ruby,
s,
samp,
section,
small,
span,
strike,
strong,
sub,
summary,
sup,
table,
tbody,
td,
tfoot,
th,
thead,
time,
tr,
tt,
u,
ul,
var,
video {
    border: 0;
    font-size: 100%;
    vertical-align: baseline;
    margin: 0;
    padding: 0;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}
body {
    line-height: 1;
}
ol,
ul {
    list-style: none;
}
blockquote,
q {
    quotes: none;
}
blockquote:after,
blockquote:before,
q:after,
q:before {
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}
body,
html {
    width: 100%;
    height: 100%;
    display: block;
}
a img {
    border: none;
    padding: 0;
}
button,
input[type='button'],
input[type='email'],
input[type='password'],
input[type='reset'],
input[type='submit'],
input[type='tel'] {
    -ms-flex-align: start;
    align-items: flex-start;
    box-sizing: border-box;
}

body {
    font-size: 12px;
    color: #6b798e;
    -webkit-font-smoothing: auto;
}
