body {
    overflow-y: hidden;
}
html,
body,
#rsg-root {
    height: 100%;
}

.sidebar ul > li > ul > li > ul {
    display: none;
}
.sidebar ul > li > ul > li {
    overflow: initial;
}

.editor_transparent {
    background-color: #fff !important;
    background-image: linear-gradient(45deg, #efefef 25%, transparent 25%, transparent 75%, #efefef 75%, #efefef),
        linear-gradient(45deg, #efefef 25%, transparent 25%, transparent 75%, #efefef 75%, #efefef) !important;
    background-position: 0 0, 8px 8px !important;
    background-size: 16px 16px !important;
}

form.demo-form {
    padding: 10px;
    border: 1px dashed #ccc;
    border-radius: 5px;
    margin-bottom: 10px;
    position: relative;
    margin-top: 10px;
}
form.demo-form:before {
    content: 'Demo Form';
    position: absolute;
    background: white;
    display: inline-block;
    height: 16px;
    line-height: 16px;
    top: -8px;
    left: 8px;
}

.demo-wrap {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-bottom: 10px;
    position: relative;
    margin-top: 10px;
}

.demo-wrap:before {
    content: 'Demo Wrap';
    position: absolute;
    background: white;
    display: inline-block;
    height: 16px;
    line-height: 16px;
    top: -8px;
    left: 8px;
}

.demo-block {
    padding: 0 10px 0 0;
    display: inline-block;
}

.clear-fixed:before,
.clear-fixed:after {
    content: ' ';
    display: table;
}
.clear-fixed:after {
    clear: both;
}

.noeditor-wrap {
    padding: 16px;
    border: 1px #e8e8e8 solid;
    border-radius: 3px;
    width: 100%;
    display: inline-block;
}
